#root {
  width: 100vw;
  height: 100vh;
  background: url('@/assets/images/bg.jpg');
  color: #fff;

  @font-face {
    font-family: Digital;
    src: url('@/assets/fonts/DS-DIGI.woff2');
  }

  .main {
    display: flex;
    padding: 0 12px;

    .top-left {
      width: 30%;
    }

    .top-middle {
      width: calc(40% - 24px) !important;
    }

    .top-right {
      width: 30%;
    }
  }
}
